{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": ["next/core-web-vitals"],
    "plugins": ["prettier", "@typescript-eslint"],
    "rules": {
        "quotes": ["error", "double"],
        "indent": ["error", 4],
        "no-trailing-spaces": "error",
        "semi": ["error", "always"],
        "eol-last": ["error", "always"],
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "no-constant-binary-expression": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-expressions": "off",
        "@typescript-eslint/no-unused-vars": "warn"
    }
}